Notebook to plot images for figure 1 for MICCAI submission

In [5]:
import os
import pandas as pd
import glob

In [3]:
model = '/rds/project/kw350/rds-kw350-meld/experiments_graph/kw350/23-02-23_HKOJ_finetuning_distance_classification_mask'

In [8]:
# find if pretunning
folder_step = glob.glob(os.path.join(model,'s_*'))
folder_step

['/rds/project/kw350/rds-kw350-meld/experiments_graph/kw350/23-02-23_HKOJ_finetuning_distance_classification_mask/s_0',
 '/rds/project/kw350/rds-kw350-meld/experiments_graph/kw350/23-02-23_HKOJ_finetuning_distance_classification_mask/s_1',
 '/rds/project/kw350/rds-kw350-meld/experiments_graph/kw350/23-02-23_HKOJ_finetuning_distance_classification_mask/s_2']

In [15]:
fold=0
values={}
df=pd.DataFrame()
for step, folder in enumerate(folder_step):
    values['step']=step
    log_file = os.path.join(folder,f'fold_0{fold}','train.log')
    with open(log_file, 'rb') as fh:
        # get first and last lines
        first = next(fh).decode()
        fh.seek(-1024, 2)
        last = fh.readlines()[-1].decode()
        # extract just time
        values['start_time'] = first.split(',')[0]
        values['end_time'] = last.split(',')[0]
        #add to dataframe
        df=pd.concat([df,pd.DataFrame([values])])

In [21]:
# convert in time
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

In [32]:
df['difference (s)'] = (df['end_time'] - df['start_time']).dt.total_seconds()
df

,step,start_time,end_time,col,difference,difference (s)
0,0,2023-02-24 00:16:08,2023-02-24 03:26:17,2023-02-24 00:16:08,11409.0,11409.0
0,1,2023-02-24 04:26:21,2023-02-24 05:44:00,2023-02-24 04:26:21,4659.0,4659.0
0,2,2023-02-24 05:55:31,2023-02-24 10:52:37,2023-02-24 05:55:31,17826.0,17826.0

In [35]:
total_time = df['difference (s)'].sum()
print(f'run time for model with {len(df["difference (s)"])} steps : {total_time} sec')
print(f'run time for model with {len(df["difference (s)"])} steps : {total_time/60} min')
print(f'run time for model with {len(df["difference (s)"])} steps : {total_time/60/60} hours')

run time for model with 3 steps : 33894.0 sec
run time for model with 3 steps : 564.9 min
run time for model with 3 steps : 9.415 hours

In [30]:
564/60

9.4